{% assign author = site.authors[post.author] | default: site.authors.sanjay %}
<div class="card-wrap">
    <div class="card">
        <a href="{{ site.baseurl }}{{ post.url }}">
            {% if post.image %}
                <img class="card-img-top" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">
            {% endif %}
        </a>
        <div class="card-body">
            {% if post.categories.size > 0 %}
                <h6 class="card-category">{{ post.categories[0] }}</h6>
            {% endif %}
            <h2 class="card-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            <h4 class="card-text">{{ post.excerpt | strip_html | truncatewords:20 }}</h4>
        </div>
        <div class="card-footer">
            <div class="wrapfooter">
                {% if post.author %}
                <span class="author-meta">
                    <img class="author-thumb" src="{{ site.baseurl }}/{{ author.avatar }}" alt="{{ author.name }}">
                    <span class="post-name">{{ author.name }}</span>
                </span>
                {% endif %}
                <span class="post-date">{{ post.date | date_to_string }}</span>
            </div>
        </div>
    </div>
</div>
