---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;

.card {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.card-footer {
    background-color: transparent !important;
}
// Add or modify these CSS rules
.modern-card {
    border-radius: 15px !important;  // Increased border radius
    transition: transform 0.3s ease;
    border: none;  // Remove border to eliminate lines
    margin-bottom: 2rem;
}

.card-footer {
    border-top: none !important;  // Remove the line between card body and footer
}

.post-date {
    font-weight: bold;  // Make dates bold
}
.card .maxthumb {
  background-color: #f7fafa; /* A very light gray to fill empty space */
  height: 200px; /* You can adjust this height */
  display: flex;
  align-items: center;
  justify-content: center;
}
.article-post {
    text-align: justify;
    text-justify: inter-word;
}

.article-post p {
    text-align: justify;
    text-justify: inter-word;
}
/* This targets the image itself in the standard post cards */
.card .maxthumb .img-fluid {
  object-fit: contain; /* This makes the full image visible */
  height: 100%;
  width: 100%;
}

/* This targets the image container in the featured post boxes */
.listfeaturedtag .wrapthumbnail {
  background-color: #f7fafa; /* Matching light gray */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* This targets the image itself in the featured post boxes */
.listfeaturedtag .wrapthumbnail .featured-box-img-cover {
  object-fit: contain; /* Ensures the full image is visible */
  height: 100%;
  width: 100%;
}