---
layout: default
---

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/about_new.css">

<main>

  <!--
    - #SIDEBAR
  -->

  <aside class="sidebar" data-sidebar>

    <div class="sidebar-info">

      <figure class="avatar-box">
        <img src="{{ site.baseurl }}/{{ site.authors.sanjay.avatar }}" alt="Sanjay Saravanan" width="80">
      </figure>

      <div class="info-content">
        <h1 class="name" title="Sanjay Saravanan">{{ site.authors.sanjay.name }}</h1>

        <p class="title">Deep Learning Engineer</p>
      </div>

      <button class="info_more-btn" data-sidebar-btn>
        <span>Show Contacts</span>

        <ion-icon name="chevron-down"></ion-icon>
      </button>

    </div>

    <div class="sidebar-info_more">

      <div class="separator"></div>

      <ul class="contacts-list">

        <li class="contact-item">

          <div class="icon-box">
            <ion-icon name="mail-outline"></ion-icon>
          </div>

          <div class="contact-info">
            <p class="contact-title">Email</p>

            <a href="mailto:{{ site.authors.sanjay.email }}" class="contact-link">{{ site.authors.sanjay.email }}</a>
          </div>

        </li>

        <li class="contact-item">

          <div class="icon-box">
            <ion-icon name="logo-github"></ion-icon>
          </div>

          <div class="contact-info">
            <p class="contact-title">GitHub</p>

            <a href="https://github.com/sanjay-ks23" class="contact-link">sanjay-ks23</a>
          </div>

        </li>

        <li class="contact-item">

          <div class="icon-box">
            <ion-icon name="logo-twitter"></ion-icon>
          </div>

          <div class="contact-info">
            <p class="contact-title">Twitter</p>

            <a href="{{ site.authors.sanjay.twitter }}" class="contact-link">@Sanj_AI_space</a>
          </div>

        </li>

        <li class="contact-item">

          <div class="icon-box">
            <ion-icon name="location-outline"></ion-icon>
          </div>

          <div class="contact-info">
            <p class="contact-title">Location</p>

            <address>Chennai, India</address>
          </div>

        </li>

      </ul>

      <div class="separator"></div>

      <ul class="social-list">

        <li class="social-item">
          <a href="{{ site.authors.sanjay.twitter }}" class="social-link">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>

        <li class="social-item">
          <a href="https://github.com/sanjay-ks23" class="social-link">
            <ion-icon name="logo-github"></ion-icon>
          </a>
        </li>

      </ul>

    </div>

  </aside>

  <!--
    - #main-content
  -->

  <div class="main-content">

    <!--
      - #NAVBAR
    -->

    <nav class="navbar">

      <ul class="navbar-list">

        <li class="navbar-item">
          <button class="navbar-link active" data-nav-link>About</button>
        </li>

        <li class="navbar-item">
          <button class="navbar-link" data-nav-link>Resume</button>
        </li>

      </ul>

    </nav>

    <!--
      - #ABOUT
    -->

    <article class="about active" data-page="about">
        {{ content }}
    </article>

    <!--
      - #RESUME
    -->

    <article class="resume" data-page="resume">
        <!-- This section will be populated from about.md -->
    </article>

  </div>

</main>

<!--
  - custom js link
-->
<script src="{{ site.baseurl }}/assets/js/about_new.js"></script>

<!--
  - ionicon link
-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
